<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.judge.css">
    <title>About US</title>
</head>
<body>
    <header>
      <a href="#"><strong><center style="font-size:50px; color:Cyan; text-align:center">Database Management Project</center></strong></a>
    </header>
    <div class="contact">
      <p><strong><center style="font-size:30px">Developed by-</center></strong></p>
      <p><center  style="font-size:20px">Akhil Chouhan and Adarsh Singh , students of PESIT south campus,bangalore<center><p>
    </div>
