div.table{margin-top:10px;background-color:LightGray;border:2px solid Cyan;text-align:justify;text-indent:50px;width=100%;margin-bottom:10px}
div.table table, td, th {    
    border: 1px solid Black;
    text-align: left;
}div.table table {
    border-collapse: collapse;
    width: 50%;
}
div.table th, td {
    padding: 15px;
}
