<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.judge.css">
    <title>Judges</title>
</head>
<body>
    <header>
      <a href="#"><strong><center>Our Judges</center></strong></a>
    </header>
    <div class = "table">
      <center>
        <table>
          <tr>
            <th>Judge</th>
            <th>Age</th>
          </tr>
          {{#each data}}
            <tr>
              <td>{{jname}}</td>
              <td>{{age}}</td>
            </tr>
          {{/each}}
        </table>
      </center>
    </div>
</body>
</html>
