<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.judge.css">
    <title>Registeration status</title>
</head>
<body>
  <p style=font-size:40px;text-align:center;margin:0 10>do you want to register again ? </p>
  <center><button><a href="/addparticipant" style="font-size:30px;text-align:center;margin:100">Register for another model</a></button><center>
</body>
</html>
